<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Earnings Comparison</title>
</head>
<body>

<div class="wrapper">
    <form action='/' method = 'post'>
        <p>
            <select name = city >
                <option value="Bangalore" name = "city">Bangalore</option>
                <option value="Pune" name = "city">Pune</option>
                <option value="Hyderabad" name = "city">Hyderabad</option>
                <option value="New Delhi" name = "city">New Delhi</option>
                <option value="Mumbai" name = "city">Mumbai</option>
                <input type='submit' value='Submit'>
            </select>
        </p>
</body>
</html>